html,body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.card{
    max-width: 700px;
}
img{
    width: 100%;
}
.container, #user-result{
    transition: all 0.5s ease-out;
}

@media (max-width: 576px) {

    .container{
        padding: 2rem;
    }
    img{
        width: 50%;
    }
}